<%= form_for :section, :html => { :role => 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, :class => 'form-control', :placeholder => 'Enter content', :rows => 10 %>
  </div>
  <%= f.submit :class => 'btn btn-default' %>
<% end %>
