<%= form_for :section, :url => sections_path, :html => { :role => 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.kindeditor :content %>
  </div>
  <%= f.submit :class => 'btn btn-default' %>
<% end %>
